/* variables.css */
:root {
  --On-Surface: rgba(26, 32, 66, 1);
  --Secondary: rgba(94, 90, 86, 1);
  --Surface: rgba(245, 241, 237, 1);
  --Primary: rgba(105, 58, 240, 1);
  --White: rgba(255, 255, 255, 1);
  --Outline: rgba(228, 228, 228, 1);
}
